In [5]:
from dataloader import Dataloader
import pandas as pd
import os

pd.options.mode.chained_assignment = None  # default='warn'

In [6]:
# Load Data
path = os.getcwd() + "/../data/"

# load data which creates baskets and coupons
data = Dataloader(path)

In [7]:
# train-test-split
data.train_test_split()

In [8]:
# data.create_category_table() 
data.add_categories()

In [9]:
data.create_feature_dict()

In [10]:
X_train, y_train, X_test, y_test = data.make_featured_data()

In [11]:
print(X_train.shape)
X_train.head()

(2225000, 20)

,shopper,product,price,category,discount,coupon,original_price,total_count_of_product,reordered_product,category_count,reordered_category,coupon_in_same_category,ratio_of_reordered_products,ratio_of_reordered_categories,average_price_per_shopper,average_basket_size,unique_products_per_shopper,unique_categories_per_shopper,weeks_since_prior_product_order,weeks_since_prior_category_order
0,0,0,688.0,23,0.0,No,688,0,0.0,0,0.0,No,0.722222,0.950000,587.203947,8.539326,54,20,1,1
1,1,0,688.0,23,0.0,No,688,6,1.0,7,1.0,No,0.830986,1.000000,584.065350,7.393258,71,22,1,1
2,2,0,688.0,23,0.0,No,688,0,0.0,0,0.0,No,0.700000,0.863636,571.918919,5.820225,60,22,1,1
3,3,0,688.0,23,0.0,No,688,0,0.0,0,0.0,No,0.714286,1.000000,561.846361,8.337079,91,24,1,1
4,4,0,688.0,23,0.0,No,688,0,0.0,0,0.0,No,0.764706,0.888889,583.750455,6.168539,34,18,1,1

In [12]:
print(X_test.shape)
X_test.head()

(25000, 20)

,shopper,product,price,category,discount,coupon,original_price,total_count_of_product,reordered_product,category_count,reordered_category,coupon_in_same_category,ratio_of_reordered_products,ratio_of_reordered_categories,average_price_per_shopper,average_basket_size,unique_products_per_shopper,unique_categories_per_shopper,weeks_since_prior_product_order,weeks_since_prior_category_order
0,0,0,688.0,23,0.0,No,688,0,0.0,0,0.0,No,0.722222,0.95,587.203947,8.539326,54,20,90,446
1,0,58,713.0,23,0.0,No,713,0,0.0,0,0.0,No,0.722222,0.95,587.203947,8.539326,54,20,90,446
2,0,150,503.0,23,0.0,No,503,0,0.0,0,0.0,No,0.722222,0.95,587.203947,8.539326,54,20,90,446
3,0,151,496.0,23,0.0,No,496,0,0.0,0,0.0,No,0.722222,0.95,587.203947,8.539326,54,20,90,446
4,0,153,501.0,23,0.0,No,501,0,0.0,0,0.0,No,0.722222,0.95,587.203947,8.539326,54,20,90,446