<a href="https://colab.research.google.com/github/uhdang/mlim_group_3_final_assignment/blob/moving_window/project/train_cv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data Using Google Colab
Run if using Google Colab

In [2]:
import pandas as pd
import os
from google.colab import drive
import sys
drive.mount('/content/drive')
sys.path.append('/content/drive/My Drive/My Drive')

from dataloader import Dataloader
# Load Data
path = "/content/drive/MyDrive/My Drive/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Load Data Locally
Run if using notebook locally

In [1]:
import pandas as pd
import os
from dataloader import Dataloader

# Load Data
path = os.getcwd() + "/../data/"

In [3]:
# load data which creates baskets and coupons
data = Dataloader(path)

In [4]:
# Create Categories before CV as they don't change and consume time otherwiser
data.create_category_table(2000)

In [ ]:
# weeks = [87, 88, 89]
weeks = [89]
# shopper_list = list(range(2000))
# shopper_chunks = [shopper_list[i:i + 100] for i in range(0, len(shopper_list), 100)]
shopper_chunks = [list(range(100))]

for week in weeks:
    for shopper in shopper_chunks:
        # train-test-split
        data.train_test_split(week, shopper)

        # data add categories 
        data.add_categories()

        # create features
        data.create_feature_dict()

        # combine everything
        X_train, y_train, X_test, y_test = data.make_featured_data()

In [6]:
X_train

        shopper  ... count_of_category_order_last_30_weeks
0             0  ...                                   0.0
1             1  ...                                   0.0
2             2  ...                                   0.0
3             3  ...                                   0.0
4             4  ...                                   0.0
...         ...  ...                                   ...
2224995      95  ...                                  11.0
2224996      96  ...                                   6.0
2224997      97  ...                                   1.0
2224998      98  ...                                   7.0
2224999      99  ...                                  10.0

[2225000 rows x 28 columns]

In [7]:
X_test

      shopper  ... count_of_category_order_last_30_weeks
0           0  ...                                   2.0
1           0  ...                                   2.0
2           0  ...                                   2.0
3           0  ...                                   2.0
4           0  ...                                   2.0
...       ...  ...                                   ...
24995      99  ...                                  10.0
24996      99  ...                                  10.0
24997      99  ...                                  10.0
24998      99  ...                                  10.0
24999      99  ...                                  10.0

[25000 rows x 28 columns]

In [9]:
X_test.tail(20)

      shopper  ... count_of_category_order_last_30_weeks
24980      98  ...                                   8.0
24981      98  ...                                   8.0
24982      98  ...                                   8.0
24983      98  ...                                   8.0
24984      98  ...                                   8.0
24985      98  ...                                   8.0
24986      98  ...                                   8.0
24987      98  ...                                   8.0
24988      98  ...                                   8.0
24989      98  ...                                   8.0
24990      99  ...                                  10.0
24991      99  ...                                  10.0
24992      99  ...                                  10.0
24993      99  ...                                  10.0
24994      99  ...                                  10.0
24995      99  ...                                  10.0
24996      99  ...                                  10.0
24997      99  ...                                  10.0
24998      99  ...                                  10.0
24999      99  ...                                  10.0

[20 rows x 28 columns]

In [16]:
data.baskets_train.loc[(data.baskets_train['shopper']==99) & (data.baskets_train['product']==246)]

       week shopper product  price  target category
1488      1      99     246    702       1       13
2260      2      99     246    702       1       13
4581      5      99     246    702       1       13
6125      7      99     246    702       1       13
6903      8      99     246    702       1       13
9161     11      99     246    632       1       13
10658    13      99     246    702       1       13
12167    15      99     246    702       1       13
13694    17      99     246    702       1       13
15236    19      99     246    702       1       13
16751    21      99     246    702       1       13
17486    22      99     246    702       1       13
19005    24      99     246    702       1       13
20532    26      99     246    702       1       13
21301    27      99     246    702       1       13
22089    28      99     246    702       1       13
23628    30      99     246    702       1       13
25929    33      99     246    702       1       13
26690    34      99     246    702       1       13
28997    37      99     246    702       1       13
29759    38      99     246    421       1       13
30526    39      99     246    702       1       13
32065    41      99     246    702       1       13
33553    43      99     246    702       1       13
35862    46      99     246    702       1       13
37369    48      99     246    702       1       13
38956    50      99     246    702       1       13
39753    51      99     246    702       1       13
41266    53      99     246    702       1       13
42037    54      99     246    702       1       13
43565    56      99     246    702       1       13
45853    59      99     246    491       1       13
49645    64      99     246    702       1       13
50421    65      99     246    702       1       13
51934    67      99     246    702       1       13
54192    70      99     246    702       1       13
54997    71      99     246    702       1       13
57287    74      99     246    702       1       13
58047    75      99     246    702       1       13
58813    76      99     246    702       1       13
59569    77      99     246    702       1       13