In [1]:
from dataloader import Dataloader
import pandas as pd

In [2]:
# Load Data
path = os.getcwd() + "/../data/"

# load data which creates baskets and coupons
data = Dataloader(path)

In [3]:
# train-test-split
data.train_test_split()

f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].astype('category')
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].cat.remove_unused_categories()
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_split["target"] = 1
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].astype('category')
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].cat.remove_unused_categories()
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_split["target"] = 1
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].astype('category')
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].cat.remove_unused_categories()
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].astype('category')
f:\OneDrive - HU\OneDrive - Humboldt-Universitaet zu Berlin, CMS\Studium\Machine Learning in Marketing\mlim_group_3_final_assignment\mlim_group_3_final_assignment\project\make_data.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].cat.remove_unused_categories()

In [4]:
# data.create_category_table() 
data.add_categories()

In [5]:
data.create_feature_dict()

In [6]:
X_train, y_train, X_test, y_test = data.make_featured_data()

In [17]:
print(X_train.shape)
X_train.head()

(2225000, 20)

,shopper,product,price,category,discount,coupon,original_price,total_count_of_product,reordered_product,category_count,reordered_category,coupon_in_same_category,ratio_of_reordered_products,ratio_of_reordered_categories,average_price_per_shopper,average_basket_size,unique_products_per_shopper,unique_categories_per_shopper,weeks_since_prior_product_order,weeks_since_prior_category_order
0,0,0,688.0,14,0.0,No,688,0,0.0,76,1.0,No,0.722222,0.900000,587.203947,8.539326,54,20,1,1
1,1,0,688.0,14,0.0,No,688,6,1.0,99,1.0,No,0.830986,1.000000,584.065350,7.393258,71,21,1,1
2,2,0,688.0,14,0.0,No,688,0,0.0,8,1.0,Yes,0.700000,0.826087,571.918919,5.820225,60,23,1,1
3,3,0,688.0,14,0.0,No,688,0,0.0,117,1.0,Yes,0.714286,0.954545,561.846361,8.337079,91,22,1,1
4,4,0,688.0,14,0.0,No,688,0,0.0,27,1.0,No,0.764706,0.764706,583.750455,6.168539,34,17,1,1

In [16]:
print(X_test.shape)
X_test.head()

(25000, 20)

,shopper,product,price,category,discount,coupon,original_price,total_count_of_product,reordered_product,category_count,reordered_category,coupon_in_same_category,ratio_of_reordered_products,ratio_of_reordered_categories,average_price_per_shopper,average_basket_size,unique_products_per_shopper,unique_categories_per_shopper,weeks_since_prior_product_order,weeks_since_prior_category_order
0,0,0,688.0,14,0.0,No,688,0,0.0,76,1.0,No,0.722222,0.9,587.203947,8.539326,54,20,90,416
1,0,4,620.0,14,0.0,No,620,8,1.0,76,1.0,No,0.722222,0.9,587.203947,8.539326,54,20,19,416
2,0,28,442.0,14,0.0,No,442,0,0.0,76,1.0,No,0.722222,0.9,587.203947,8.539326,54,20,90,416
3,0,30,644.0,14,0.0,No,644,0,0.0,76,1.0,No,0.722222,0.9,587.203947,8.539326,54,20,90,416
4,0,46,523.0,14,0.0,No,523,1,0.0,76,1.0,No,0.722222,0.9,587.203947,8.539326,54,20,56,416