In [2]:
from dataloader import Dataloader
import pandas as pd
import os

pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
# Load Data
path = os.getcwd() + "/../data/"

# load data which creates baskets and coupons
data = Dataloader(path)

In [4]:
# Create Categories before CV as they don't change and consume time otherwise
data.create_category_table(2000)

In [13]:
# weeks = [87, 88, 89]
weeks = [89]
# shopper_list = list(range(2000))
# shopper_chunks = [shopper_list[i:i + 100] for i in range(0, len(shopper_list), 100)]
shopper_chunks = [list(range(100))]

for week in weeks:
    for shopper in shopper_chunks:
        # train-test-split
        data.train_test_split(week, shopper)

        # data add categories
        baskets_train, _, coupons_train, _ = data.add_categories()

In [38]:
original_price = baskets_train.groupby("product", as_index=False)["price"].max().rename(columns={"price": "original_price"})
c_w_op = coupons_train.merge(original_price, on="product", how="left")
c_w_op["abs_discount_v"] = c_w_op["original_price"] * ( c_w_op["discount"] / 100 )
avg_categorical_discount_table = c_w_op.groupby(["category"], as_index=False)["abs_discount_v"].mean().rename(columns={"abs_discount_v": "avg_categorical_discount"})

In [39]:
avg_categorical_discount_table

   category  avg_categorical_discount
0         0                168.462834
1         1                141.976775
2         2                167.536282
3         3                172.068348
4         4                142.280453
5         5                134.564777
6         6                136.187085
7         7                136.819926
8         8                154.769774
9         9                116.921537
10       10                161.512231
11       11                139.421583
12       12                176.534278
13       13                131.975297
14       14                180.687042
15       15                139.613811
16       16                153.728374
17       17                155.005676
18       18                158.831726
19       19                180.054079
20       20                171.014554
21       21                134.322291
22       22                144.744329
23       23                147.156807
24       24                157.515630